:root {
  --color: transparent;
}

#event {
  width: 100vw;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.expanding-collection {
  width: 100%;
  flex-grow: 1;
  .swiper-slide {
    width: 500px;
    max-width: calc(100% - 32px - 32px);
  }

  &-cover {
    color: #fff;
    @media (orientation: portrait) {
      img {
        width: 20rem;
        height: 20rem;
        aspect-ratio: 1 / 1;
        object-fit: fit;
      }
    }
  }

  &-content,
  &-content-inner {
    background: var(--color);
    color: #dafbf7;
  }
}
