:root {
  --color: transparent;
}

#event {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    height: 75vh;
  }
  
  @media screen and (min-width: 2000px) {
    margin-top: 4rem;
  }
}

.expanding-collection {
  width: 100%;
  flex-grow: 1;
  .swiper-slide {
    width: 500px;
    max-width: calc(100% - 32px - 32px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      justify-content: flex-start;
    }
  }

  &-cover {
    color: #fff;
    @media (orientation: portrait) {
      img {
        width: 20rem;
        height: 20rem;
        aspect-ratio: 1 / 1;
        object-fit: fit;

        @media screen and (min-width: 500px) {
          width: 500px;
          height: 500px;
        }
      }
    }
  }

  &-content,
  &-content-inner {
    background: var(--purple);
    color: #dafbf7;
  }
}
