@import 'swiper/scss';

:root {
  --expanding-collection-content-bg-color: #fff;
  --expanding-collection-content-vertical-offset: 32px;
  --expanding-collection-content-horizontal-offset: 16px;
  --expanding-collection-content-padding: 16px;
  --expanding-collection-content-border-radius: 8px;
  --expanding-collection-cover-border-radius: 8px;
  --expanding-collection-inactive-cover-opacity: 0.5;
  --expanding-collection-opened-translate-y: -64px;
  --expanding-collection-cover-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
  --expanding-collection-opened-cover-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.expanding-collection {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    z-index: 55;
  }
  .swiper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
  }
  .swiper-slide {
    margin-top: 4rem;
    justify-content: center;
    display: flex;
    width: calc(100% - 32px);
    @media screen and (max-height: 800px) {
      margin-top: .5rem;
    }
  }

  &-initialized &-content,
  &-initialized &-cover,
  &-initialized &-cover::before {
    transition-duration: 300ms;
  }

  &-container,
  &-cover {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &-container {
    max-width: 100%;
    position: relative;
  }
  &-cover {
    opacity: var(--expanding-collection-inactive-cover-opacity);
    position: relative;
    img {
      width: 500px;
      height: 500px;
      border-radius: var(--expanding-collection-cover-border-radius);
      display: block;
      margin: 0;
      position: relative;
      z-index: 2;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 90%;
      left: 0;
      bottom: 0;
      border-radius: var(--expanding-collection-cover-border-radius);
      z-index: 1;
      transform-origin: center bottom;
      box-shadow: var(--expanding-collection-cover-box-shadow);
    }
  }
  .swiper-slide.swiper-slide-active &-cover {
    opacity: 1;
    cursor: pointer;
  }
  .swiper-slide:not(.swiper-slide-active) &-cover::before {
    box-shadow: none;
  }
  .swiper-slide:not(.swiper-slide-active) &-content {
    opacity: 0;
  }
  &-content {
    position: absolute;
    box-sizing: border-box;
    left: calc(-1 * var(--expanding-collection-content-horizontal-offset));
    right: calc(-1 * var(--expanding-collection-content-horizontal-offset));
    top: 0;
    z-index: 0;
    padding-top: calc(
      var(--expanding-collection-cover-height) -
        var(--expanding-collection-content-vertical-offset)
    );
    border-radius: var(--expanding-collection-content-border-radius);
    transform: scaleX(var(--expanding-collection-scale-x))
      scaleY(var(--expanding-collection-scale-y));
    transform-origin: center top;
    background: var(--expanding-collection-content-bg-color);
  }
  &-content-inner {
    padding: var(--expanding-collection-content-padding);
    box-sizing: border-box;
  }
  &-opened &-cover {
    transform: translateY(var(--expanding-collection-opened-translate-y));
    &::before {
      box-shadow: var(--expanding-collection-opened-cover-box-shadow);
    }
  }
  &-opened &-content {
    transform: scale(1)
      translateY(
        calc(
          var(--expanding-collection-opened-translate-y) +
            var(--expanding-collection-content-vertical-offset)
        )
      );
    opacity: 1;
  }
}
