@import url("https://use.typekit.net/tqy8str.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --turquoise: #01b9c3;
    --purple: #535295;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: black;
}

body {
    width: 100vw;
    background: radial-gradient(var(--turquoise) 70%, var(--purple) 110%);
    font-family: "coolvetica", sans-serif;
    overflow-x: hidden;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

canvas {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

canvas::webkit-scrollbar {
  display: none;
}

.nav {
  background: radial-gradient(var(--purple) 70%, var(--turquoise) 150%);
}

dialog {
  background: radial-gradient(var(--purple) 60%, var(--turquoise) 100%);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

// hamburger
.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  