$playpen-sans: "Playpen Sans", "Comic Sans MS"; //400
$rubik: "Rubik", sans-serif; //400

$sm-screen: 450px;
$md-screen: 750px;
$lg-screen: 1200px;

$light-blue: #fafdfe;
$midnight: #181d31;

.cookieBanner {
    background: radial-gradient(var(--purple) 70%, var(--turquoise) 150%);
}

#cookie-modal {
    background: radial-gradient(var(--purple) 70%, var(--turquoise) 150%);
}

#backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: transparent;
    visibility: hidden;

    &[data-open="true"] {
        visibility: visible;
        animation: backdropFade 0.2s ease-in-out forwards;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal {
    display: none;

    &[data-open="true"] {
        display: flex;
    }
}

.checkboxContainer {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.checkboxContainer input {
    display: none;
}

.checkboxContainer svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition:
        stroke-dasharray 0.5s ease,
        stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.checkboxContainer input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

@keyframes backdropFade {
    from {
        background: transparent;
    }
    to {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(4px);
    }
}
